* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    padding: 0;
}

#taskbar {
    width: 100vw;
    height: 5vh;
    background: linear-gradient(to bottom, hsl(221, 70%, 70%), hsl(221, 72%, 50%));
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#start {
    padding: 0 1rem;
    background-color: #00b800;
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
}
#desktop {
    width: 100vw;
    height: calc(100vh - 5vh);
    background-image: url(./1_assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#status{
    background: linear-gradient(to bottom, hsl(200, 70%, 70%), hsl(200, 72%, 50%));
    width:5%;
    height:100%;
    display:flex;
    align-items: center;
    padding:0 1rem;
}